/* logBar */
.log-container {
  /* margin-top: 128px; */
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

.header-top-bar__logo {
  height: 15px;
}

.log-menu {
  width: 25%;
  padding: 2% 0;
  display: flex;
  justify-items: space-around;
}

.log-menu > a {
  color: white;
  text-decoration: none;
}

/* nav bar */
.nvBar {
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 4px 5px -2px rgba(150, 146, 146, 0.75);
  -webkit-box-shadow: 1px 4px 5px -2px rgba(150, 146, 146, 0.75);
  -moz-box-shadow: 1px 4px 5px -2px rgba(150, 146, 146, 0.75);
}

.navBar-menu .nav > a {
  text-decoration: none;
  color: black;
}

.nav-links {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
}
